* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background: url(bg-default.jpg);
}

.container {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.element-grid {
  width: 1200px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.outer {
  width: 300px;
  margin: 10px;
  border: 1px solid gray;
  /* box-shadow: 0px 0px;
  filter: contrast(100%); */
  transition: box-shadow 0.5s ease-in, filter 0.5s ease-in, background 0.5s ease-in;
}

.outer:hover {
  box-shadow: 10px 5px 5px rgba(83, 74, 74, 0.5);
  filter: brightness(150%);
  /* For SelfPrac Q2: after hover 1s, trigger transition */
  transition-delay: 1s;
}

.inner {
  width: 300px;
}

#channel {
  max-width: 300px;
  display: block;
  /* https://stackoverflow.com/questions/3947113/space-between-div-and-img */
}

.down {
  display: flex;
  justify-content: flex-start;
  background-color: black;
}

.avtar {
  width: 60px;
  height: 60px;
  margin: 10px 10px;
}

img#person {
  height: 60px;
  width: 60px;
  border-radius: 40px;
}

.content {
  margin-left: 10px;
}
.channelname {
  margin-top: 10px;
}

.username {
  margin-top: 10px;
}

p {
  color: gray;
  /* white-space: nowrap; */
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
