* {
  margin: 0;
  padding: 0;
}
body {
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background: url("bg-default.jpg");
}
.container {
  display: flex;
  justify-content: center;
  background-color: rgba(0,0,0,0.5);
}
.elements-grid {
  width: 1200px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.element {
  width: 320px;
  margin: 10px;
  border: 1px solid #808080;
/* box-shadow: 0px 0px;
  filter: contrast(100%); */
  transition: box-shadow 0.5s ease-in, filter 0.5s ease-in;
}
.element:hover {
  box-shadow: 10px 5px 5px rgba(83,74,74,0.5);
  -webkit-filter: brightness(150%);
  filter: brightness(150%);
/* For SelfPrac hw2 Q2: after hover 1s, trigger transition */
}
.element.padding {
  border: none;
  transition: none;
  box-shadow: none;
}
#channel {
  max-width: 320px;
  display: block;
/* https://stackoverflow.com/questions/3947113/space-between-div-and-img */
}
.upper {
  height: 180px;
  width: 320px;
}
.down {
  display: flex;
  justify-content: flex-start;
  background-color: #000;
}
#person {
  height: 60px;
  width: 60px;
  border-radius: 40px;
  margin: 10px 10px;
}
.content {
  margin-left: 10px;
}
.channelname {
  margin-top: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.username {
  margin-top: 10px;
}
p {
  color: #808080;
/* white-space: nowrap; */
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
